@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Outfit:wght@100..900&display=swap");

.header {
  background: linear-gradient(
      rgba(250, 233, 207, 0.8),
      rgba(250, 233, 207, 0.8)
    ),
    url("/public/C201506-Chicago-from-Above-preview.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  max-width: 100%;
  top: 20%;
  left: 6vw;
  animation: fadeIn 3s;
}
.header-content h2 {
  font-family: Kalam;
  color: #555555;
  font-weight: 600;
  font-size: max(4.5vw, 22px);
}
.header-content p {
  font-family: Kalam;
  color: #414040;
  font-size: 1.2vw;
  max-width: 50%;
}
